streamlit==1.39.0
bs4
pillow
aiohttp
markdown
chardet
langchain
langchain_google_genai
google-generativeai
google-ai-generativelanguage
google-api-core
matplotlib
seaborn
pandas
numpy
pygwalker
urllib3
pefile
requests
netlas
scapy
youtube-transcript-api
pexels-api-py
gtts
SpeechRecognition
googletrans
faiss-cpu
PyPDF2
