/* Custom CSS for Streamlit app */
body {
    background-color: #000000;
    color: #00FF00;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #00FF00;
    text-align: centre;
    text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00;
}

p, li, span, div {
    color: #00FF00;
}

footer {
    color: #00FF00;
}
